body {
    direction: rtl;
    text-align: right;
    font-family: "Tajawal", sans-serif;
    /* خط مناسب للعربية */
}


.small-box {

    width: 70%;
    height: 20px;
    background-color: #b7bec0;
    width: 555px;
    height: 60px;
    border-radius: 40px;
    margin-top: 20px;


}

.container {
    display: flex;
    flex-direction: column;

    min-height: 300px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;



    background-color: #ffcccb;
    height: 620px;
    background-color: rgba(12, 2, 21, 0.929);


}

h1 {
    color: rgb(41, 161, 41);

    position: sticky;
    text-align: right;
    padding-right: 20px;
    padding-top: -20px;

}

p {


    padding-inline: 100px;
    position: relative;
    top: -75px;
    left: -150px;



}

.div1 {
    font-size: 60px;
    text-align: center;
    color: rgb(123, 23, 66);
    position: fixed;
    top: 260px;

    padding-left: 30px;
}

input {
    width: 540px;
    position: fixed;
    top: 555px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-size: 20px;
}

.img1 {
    width: 70px;
    height: 70px;
    position: fixed;
    left: 350px;

}

.b2 {
    width: 42px;
    height: 42px;
    background-image: url("telegram.png");
    background-size: cover;
    position: fixed;
    left: 910px;
    top: 559px;
    border-radius: 10px;
}

#response {
    margin-top: 20px;
    font-weight: bold;
}